
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h2>Product Management Platform</h2>
      <h1><i class="fas fa-boxes fa-4x"></i></h1>
      <p>Create an account or login</p>
      <div class="row justify-content-center">
        <div class="col align-self-center">
          <a href="/users/register" class="btn btn-primary btn-block">Register</a>
        </div>
        <div class="col align-self-center">
          <a href="/users/login" class="btn btn-dark btn-block">Login</a>
        </div>
      </div>
      <div class="row justify-content-center">

      </div>
      </div>
     
  </div>
</div>
